# ============================
#   ENTORNOS
# ============================

.env
.env.*

# ============================
#   PYTHON
# ============================

__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
#   POETRY
# ============================

# Ignoramos poetry.lock en todos los microservicios
poetry.lock

# ============================
#   EDITORES
# ============================

.vscode/
.idea/

# ============================
#   SISTEMA
# ============================

Thumbs.db
Desktop.ini
.DS_Store

# ============================
#   TESTS
# ============================

htmlcov/
.coverage
.coverage.*
pytest_cache/

# ============================
#   DOCKER
# ============================

docker-data/
*.log